@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cal+Sans&family=DM+Serif+Display:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lobster&display=swap");

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-normal {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.main-container {
  background-image: url("/p6.png");
}


.loader {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.loader div {
  width: 15px;
  height: 15px;
  background: #9a6f0bff;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
}
.loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
